@model VotingSystem.data.Topic_Recording

@{
    ViewBag.Title = "DeleteTopic";
}

<h2>DeleteTopic</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Topic_Recording</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TopicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopicSponsor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicSponsor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BScore)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
