@model VotingSystem.data.User_Recording

@{
    ViewBag.Title = "GetUserDetails";
}

<h2>GetUserDetails</h2>

<div>
    <h4>User_Recording</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditUser", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
